<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
    <span>{{article.updatedAt | date:'medium'}}</span>/
    <span>{{article.user.name}}</span>
    <h2>{{article.title}}</h2>
    <div data-ng-show="global.user.id == article.user.id">
        <a class="btn" href="/#!/articles/{{article.id}}/edit">
        	<i class="icon-edit"></i>
        </a> 
        <a class="btn" data-ng-click="remove();">
            <i class="icon-trash"></i>
        </a>
    </div>
    <div>{{article.content}}</div>
</section>
